body, html {
  background-color: #282828;
  margin: 0;
}
#root {
  margin: 0;
}

.container {
  margin: 0;
  max-width: 100%;
}

h1 {
  color:  #ffff88;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 30px;
}

.bloc {
  width: 60%;
  padding-left: 100px;
}